


<div class="container">
    <%= form_with(model: @developer, url:"/create_developer", method: :post)   do |f| %>
        <div class="form-group">
            <%= f.label :name, "Enter Full name: " %>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        
        <div class="form-group">
            <%= f.label :specilization, "Enter the Speclization of Developer: " %>
            <%= f.text_field :specilization, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :age, "Enter the Age of Developer: " %>
            <%= f.text_field :age, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :phoneNo, "Enter Phone #:" %>
            <%= f.text_field :phoneNo, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :email, "Enter the" %>
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.submit "Add Developer", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>